<!DOCTYPE html>
{% load static %}


<html>
    <head>
        <title>
             Register
        </title>
        <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css"/>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

        <script src="{% static 'js/login.js' %}"></script>
    </head>
    <body>
        
        <div class="container">
            <div class="row">
                <div class="form-group" >
                    {% if registered %}
                    <strong>thank you for registering!</strong>
                    {% else %}
                    <strong>register here!</strong><br />
                    <form role="form"  method="post" action="{% url 'rater:register' %}"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <p class="required">
                                <label class="required" for="id_username" >Username<span style="color: red;">*</span></label>
                                <input class="form-control" id="id_username" maxlength="30" name="username" type="text" />
                                <span class="helptext" id="helptextUser" hidden>
                                   * Required field.
                                </span>
                            </p>
                            <p class="required">
                                <label class="required" for="id_email">Email<span style="color: red;">*&nbsp; &nbsp; &nbsp; &nbsp; </span></label>
                                <input class="form-control" id="id_email" name="email" type="email" />
                                <span class="helptext" id="helptextEmail" hidden>
                                    * Required field.
                                </span>
                                <span class="helptext" id="helptextEmail2" hidden>
                                    Enter the correct email format. 
                                </span>
                            </p>
                            <p class="required">
                                <label class="required" for="id_password1">Password<span style="color: red;">*</span></label>
                                <input class="form-control" id="id_password1" name="password1" type="password" />
                                <span class="helptext" id="helptextPassword1" hidden>
                                    * Required field.
                                </span>
                                
                            </p>
                            <p class="required">
                                <label class="required" for="id_password2">Password confirmation<span style="color: red;">*</span></label>
                                <input class="form-control" id="id_password2" name="password2" type="password" />
                                <span class="helptext" id="helptextPassword2" hidden>
                                    * Required field.
                                </span>
                                <span class="helptext" id="helptextPassword3" hidden>
                                    Enter the same password as before, for verification.
                                </span>
                            </p>
                        </div>
                        <button type="submit" id="submit" name="submit" class="btn">Submit</button>
                    
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>


        <!--
        <h1>Register for Rango</h1>
        {% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="{% url 'rater:index' %}">Return to the homepage.</a><br />
        {% else %}
        Rango says: <strong>register here!</strong><br />
        <form id="user_form" method="post" action="{% url 'rater:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
        -->
    </body>
</html>
