



{% extends 'rater/base.html' %}
{% load static %}

{% block title_block %}
    ContactUs
{% endblock %}

{% block style %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body_block %}
<section class="section">
        {% comment %} <div > {% endcomment %}
            {% comment %} <br> {% endcomment %}
            
            <div class='center'>
                <form id="user_form" method="post" action="{% url 'rater:getuserprofile' %}" enctype="multipart/form-data">
                <h1 class="jumbotron-heading">Contact Us</h1>
                <br>
                <div>
                    <p class='pText'>Email:</p>
                    <p class='pText2'>26xxxxx@gmail.com</p>
                </div>
                <div>
                <p class='pText'>Telephone: </p> <p class='pText2'>075xx-xxx-xxx</p>
                </div>
                <div>
                    <p class='pText'>Address: </p> <p class='pText2'>University of Glasgow, Glasgow</p>
                </div>
            </form>
            </div>
    </section>
   

{% endblock %}