<!DOCTYPE html>

{% extends 'rater/base.html' %}
{% load static %}

{% block title_block %}
    Homepage
{% endblock %}
<!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.css" rel="stylesheet">
<!-- use our own css file -->
<link rel="icon shortcut" href="./img/favicon.ico">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>

{% block body_block %}
<header id="header" class="jumbotron text-center text-white bg-dark">
    <form class="form-inline" id="user-form" method="post" action="{% url 'rater:search' %}">
        {% csrf_token %}
    <div class="container">
        <br>
        <br>
        <h1>Restaurant Rating</h1>
        
        <div class="input-group mb-3">
            <input type="text" name="query" id="query" value="{{ query }}" class="form-control" placeholder="Enter restaurant name" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-paper-plane"></i>
                    Search
                </button>
            </div>
        </div>
    
    </div>
</form>
</header>



<div class="container">
    <section id="introSection" class="py-5">
        <form id="targetForm" method="post" action="{% url 'rater:search' %}">
            {% csrf_token %}
        <div class="container">
            <!-- 修正排版為三項排一排 -->
            <div class="row">
                    <div class="col-md-4">
                        <div class="intro-box" id="brunchClub">
                            <div class="imagepart">
                                <div class="icon py-5">
                                    <i class="fas fa-paper-plane fa-5x" aria-hidden="true"></i>
                                </div>
                            </div>
                            <input type="text" name="query" value="The Brunch Club" hidden></input>
                            <h3 class="text-secondary" >The Brunch Club</h3></input>
                            <div class="intro-line bg-primary"></div>
                            <p>
                                Low-key all-day brunch restaurant, serving hearty staples & cocktails in cool surrounds.</p>
                        </div>
                    </div>
                </a>
                <div class="col-md-4">
                    <div class="intro-box" id="Tantrum">
                        <div class="imagepart2">
                            <div class="icon py-5">
                                <i class="fas fa-paper-plane fa-5x" aria-hidden="true"></i>
                            </div>
                        </div>
                        <input type="text" name="query" value="Tantrum Doughnuts" hidden></input>
                        <h3 class="text-secondary">Tantrum Doughnuts</h3>
                        <div class="intro-line bg-primary"></div>
                        <p>Doughnut Shop.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="intro-box" id="Five">
                        <div class="imagepart3">
                            <div class="icon py-5">
                                <i class="fas fa-paper-plane fa-5x" aria-hidden="true"></i>
                            </div>
                        </div>
                        <input type="text" name="query" value="Five March" hidden></input>
                        <h3 class="text-secondary">Five March</h3>
                        <div class="intro-line bg-primary"></div>
                        <p>Modern, laid-back hangout decorated with greenery, doling out sharing plates, cocktails & wine.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="intro-box" id="Mister">
                        <div class="imagepart4">
                            <div class="icon py-5">
                                <i class="fas fa-paper-plane fa-5x" aria-hidden="true"></i>
                            </div>
                        </div>
                        <input type="text" name="query" value="Mister Singh's India" hidden></input>
                        <h3 class="text-secondary">Mister Singh's India</h3>
                        <div class="intro-line bg-primary"></div>
                        <p>Indian spices and fragrances mixed with Scottish produce in modest rooms hung with Asian art.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="intro-box" id="Buck">
                        <div class="imagepart5">
                            <div class="icon py-5">
                                <i class="fas fa-paper-plane fa-5x" aria-hidden="true"></i>
                            </div>
                        </div>
                        <input type="text" name="query" value="Buck's BarRestaurant" hidden></input>
                        <h3 class="text-secondary">Buck's BarRestaurant</h3>
                        <div class="intro-line bg-primary"></div>
                        <p>Upbeat venue specialising in live rock bands.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="intro-box" id="Garden">
                        <div class="imagepart6">
                            <div class="icon py-5">
                                <i class="fas fa-paper-plane fa-5x" aria-hidden="true"></i>
                            </div>
                        </div>
                        <input type="text" name="query" value="The Quay China Garden" hidden></input>
                        <h3 class="text-secondary">The Quay China Garden</h3>
                        <div class="intro-line bg-primary"></div>
                        <p>Chinese takeaway.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </form>
    </section>
</div>

<div class="jumbotron p-4">
    <div class="container">
        <h5 class="jumbotron-heading">This is Restaurant Rater</h5>
        <div>
            <h6 class="h6">
            {% if user.is_authenticated %}
                Hello {{ user.username }} , please click a restaurant page to write a reivew!
            {% else %}
                hey there! Please log in/sign up if you want to write reivews!
            {% endif %}
            </h6>
            <strong>{{ boldmessage }}</strong>
        </div>
    </div>
</div>
{% comment %} {% csrf_token %} {% endcomment %}
{% block javascript %}
        <script src="{% static 'js/jquery-3.6.0.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/index.js' %}" crossorigin="anonymous"></script>
{% endblock %}

{% endblock %}
