{% extends 'rater/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block style %}
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body_block %}

        <!--<h1>Login</h1>-->
        <div class="container">
            <form class="form-signin" id="login_form" method="post" action="{% url 'rater:login' %}">
            {% csrf_token %}
            <label class="text-only">Username<label style="color: red;">*</label></label>
            <input type="text" class="form-control"  name="username" value="" size="50" name="uname" required/>
            <br />
            <label class="text-only">Password<label style="color: red;">*  </label></label>
            <input type="password" name="password" value="" size="50" name="psw" required/>
            <br />
        
        <button type="submit" class="btn">SignIn</button>
            </form>
        </div>
        
{% endblock %}
