{% extends 'rater/base.html' %}
{% load static %}
{% block title_block %}
    Overview
{% endblock %}

{% block style %}

<link href="{% static 'css/star.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/overview.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block body_block %}
        <div class='frame'>
           <div class="ImageAndStar">
                <div class="containImag" ><img src="{% static 'images/header.jpeg'%}" class="imagesRes"/></div>
                {% comment %} ----------- star ----------- {% endcomment %}
                <div class="containerStar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body text-center"> <span id="rating" class="myratings">{{rating}}<i class="fas fa-star"></i></span>
                                    {% comment %} <h4 class="mt-1">Rate us</h4> {% endcomment %}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    <botton  type="submit" class=" btn btnAddReview" id="addReview"> <i class="fas fa-paper-plane"></i> Add Review</botton>
                    {% else %}
                    <botton  type="submit" class=" btn btnAddReview" id="addReview1"> <i class="fas fa-paper-plane"></i> Login First then Add Review</botton>
                    {% endif %}
                </div>   
                {% comment %} ----------- star ----------- {% endcomment %}
               
            </div>
            
            <div class="baseInfo">
                
                <h1>{{name}}<!--"Reataurant Name"--></h1>

                <h4 id="restaurantId" hidden>{{googleplaceid}}</h4>
                <h4>{{phone}}</h4>
                <h4>{{address}}</h4>
                
            </div>
            <hr>
            
            <!--******** just Simply write in the template and enter the data as it becomes available.-->
            {% for review in reviewlist %}
            <div class="review_post">
                {% comment %} <h4>"userName"</h4>  {% endcomment %}
                <h4>{{review.user.username}}</h4>
                <div class="commentStar"> 
                    <button class="btnSatr">
                        {{ review.ratings }}<i class="fas fa-star"></i>
                    </button> 
                </div>
                <div class="comment">
                    {{ review.comments }}
                    
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        {% block javascript %}
        <script src="{% static 'js/jquery-3.6.0.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/overview.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/star.js' %}" crossorigin="anonymous"></script>

        
        {% endblock %}
       
{% endblock %}

