{% extends 'rater/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Overview
{% endblock %}

{% block style %}

 <link href="{% static 'css/star.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/overview.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block body_block %}
        <div class='frame'>
           <div class="ImageAndStar">
                <div class="containImag" ><img src="{% static 'images/header.jpeg'%}" class="imagesRes"/></div>
                {% comment %} ----------- star ----------- {% endcomment %}
                <div class="containerStar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body text-center"> <span class="myratings"><!--{{rating}}-->5</span>
                                    {% comment %} <h4 class="mt-1">Rate us</h4> {% endcomment %}
                                    <fieldset class="rating"> 
                                        <input type="radio" id="star5" name="rating" value="5" />
                                        <label class="full" for="star5" title="Awesome - 5 stars"></label> 
                                        <input type="radio" id="star4half" name="rating" value="4.5" />
                                        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        <input type="radio" id="star4" name="rating" value="4" />
                                        <label class="full" for="star4" title="Pretty good - 4 stars"></label> 
                                        <input type="radio" id="star3half" name="rating" value="3.5" />
                                        <label class="half" for="star3half" title="Meh - 3.5 stars"></label> 
                                        <input type="radio" id="star3" name="rating" value="3" />
                                        <label class="full" for="star3" title="Meh - 3 stars"></label> 
                                        <input type="radio" id="star2half" name="rating" value="2.5" />
                                        <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label> 
                                        <input type="radio" id="star2" name="rating" value="2" />
                                        <label class="full" for="star2" title="Kinda bad - 2 stars"></label> 
                                        <input type="radio" id="star1half" name="rating" value="1.5" />
                                        <label class="half" for="star1half" title="Meh - 1.5 stars"></label> 
                                        <input type="radio" id="star1" name="rating" value="1" />
                                        <label class="full" for="star1" title="Sucks big time - 1 star"></label> 
                                        <input type="radio" id="starhalf" name="rating" value="0.5" />
                                        <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label> 
                                        <input type="radio" class="reset-option" name="rating" value="reset" /> 
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                {% comment %} ----------- star ----------- {% endcomment %}
               
            </div>
            
            <div class="baseInfo">
                
                <h1>{{name}}<!--"Reataurant Name"--></h1>

                <h4 id="restaurantId" hidden>{{googleplaceid}}</h4>
                <h4>{{phone}}</h4>
                <h4>{{address}}</h4>
                {% if user.is_authenticated %}
                <botton  type="submit" class=" btn btnAddReview" id="addReview"> <i class="fas fa-paper-plane"></i> Add Review</botton>
                {% else %}
                <botton  type="submit" class=" btn btnAddReview" id="addReview1"> <i class="fas fa-paper-plane"></i> Login First then Add Review</botton>
                {% endif %} 
            </div>
            <hr>
            <!--******** just Simply write in the template and enter the data as it becomes available.-->
            {% for review in reviewlist %}
            <div class="review_post">
                {% comment %} <h4>"userName"</h3>  {% endcomment %}
                <h4>{{review.user.username}}</h3>
                <div class="commentStar"> 
                    <button class="btnSatr">
                        {{ review.ratings }}⭐️ 
                    </button> 
                </div>
                <div class="comment">
                    {{ review.comments }}
                    comments......
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        {% block javascript %}
        <script src="{% static 'js/jquery-3.6.0.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/overview.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/star.js' %}" crossorigin="anonymous"></script>
        
        {% endblock %}
       
{% endblock %}

