{% extends 'rater/base.html' %}
{% load static %}

{% block title_block %}
    Profile
{% endblock %}

{% block style %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body_block %}

		<section class="section">
                <form method="POST" action="{% url 'rater:updateuserprofile' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ update_profile_form.as_p }}
                    <img src="{{ user.userprofile.picture.url }}" width="240" alt = "no image"/>
                    <br />
                    <input type="file" name="picture" accept="image/*">
                <br>
                    <input type="SUBMIT" name="submit" value="Update"/>
                  </form>
			










			
			<div class="center">
				<form id="user_form" method="post" action="{% url 'rater:getuserprofile' %}" enctype="multipart/form-data">
					<div>
						<label for="male">Email address:</label>
						{{user.email}} 
					</div>
					<div>
						<label for="male">Username:</label>
						{{ user.username }} 
					</div>
					
           
                {% comment %} <div class="commentStar"> 
					
                    <button class="btnSatr">{{rating}}<i class="fas fa-paper-plane"></i> 
                    </button> 
                </div>
                <div class="comment">
                    comments......
                </div> {% endcomment %}


                {% for review in reviews %}
                <div class="review_post">
                    {% comment %} <h4>"userName"</h3>  {% endcomment %}
                    <h4>{{review.restaurant.name}}</h3>
                    <div class="commentStar"> 
                        <button class="btnSatr">
                            {{ review.ratings }}⭐️ 
                        </button> 
                    </div>
                    <div class="comment">
                        {{ review.comments }}
                    </div>
                </div>
                <hr>
                {% endfor %}


            </div>
            <hr>
           

		</section>
		<script type="text/javascript">



            
			// var img = document.getElementsByClassName("img")[0]
			// var i=2;
			// img.onclick = function(){
			//  if(i>3) i=1
			// this.src =  "images/"+i+".jpg"
			// i++
			// }

           
        
		</script>
	</body>
</html>

{% endblock %}

