{% extends 'rater/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block style %}
<link href="{% static 'css/rating.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body_block %}
        <div class="h1">Give Restaurant Review</div>
        <div class="h3">Price</div>
        <x-star-rating value="0" number="5"></x-star-rating>
        <div class="h3">Quality</div>
        <x-star-rating value="0" number="5"></x-star-rating>
        <div class="h3">Atmosphere</div>
        <x-star-rating value="0" number="5"></x-star-rating>
        <div>
          <form class="form-signin" id = 'user-form' method="post" action="{% url 'rater:add_review' %}"  enctype="multipart/form-data">
            {% csrf_token %}
              <div class="form-group">
                <label for="exampleFormControlTextarea1" class="h3">Write a reivew</label>
                <input id="writeReview" class="h3"></input>
                <input id="googleplaceid" name="googleplaceid"></input>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            
            <button class="btn btn-secondary mb-2">Cancel</button>
            <button type="submit" class="btn btn-primary mb-2">Add</button>
            </form>
       </div>
      
        
        {% block javascript %}
        <script src="{% static 'js/jquery-3.6.0.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/search.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/rating.js' %}" crossorigin="anonymous"></script>
        {% endblock %}
{% endblock %}