{% extends 'rater/base.html' %}
{% load static %}

{% block title_block %}
    Register
{% endblock %}

{% block style %}
<link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link href="{% static 'css/rating.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body_block %}
          <header id="header" class="jumbotron text-center text-white bg-dark">
                  <br>
                  <br>
                  <h1>Write Restaurant Review</h1>
              </div>
          </header>
  
  
          <div class="h4 jumbotron p-1">Price:
              <x-star-rating value="0" number="5" id="getPrice"></x-star-rating>
          </div>
          <div class="h4 jumbotron p-1">Quality:
              <x-star-rating value="0" number="5" id="getQuality"></x-star-rating>
          </div>
          <div class="h4 jumbotron p-1">Atmosphere:
              <x-star-rating value="0" number="5" id="getAtmosphere"></x-star-rating>
          </div>
        <div>
          <form class="form-signin jumbotron" id = 'user-form' method="post" action="{% url 'rater:add_review' %}"  enctype="multipart/form-data">
            {% csrf_token %}
              <div class="form-group">
                <label for="exampleFormControlTextarea1" class="h3">Write a review</label>
                <input id="googleplaceid" name="googleplaceid" hidden></input>
                <textarea class="form-control" name="review" id="review" rows="3"></textarea>
              </div>
              <div>
                <input type="text" value="0" name="price" id="price" hidden></input>
                <input type="text" value="0" name="quality" id="quality" hidden></input>
                <input type="text" value="0" name="atmosphere" id="atmosphere" hidden></input>
              </div>
            
            <button type="submit" class="btn btn-primary mb-2">Add</button>
            <button class="btn btn-secondary mb-2">Cancel</button>
            </form>
       </div>
      
        
        {% block javascript %}
        <script src="{% static 'js/jquery-3.6.0.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/search.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/rating.js' %}" crossorigin="anonymous"></script>
        {% endblock %}
{% endblock %}