body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #4299f1;
    box-sizing: border-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: .25rem;
}

.container {
    margin-top: 150px;
    text-align: center;
}

.btn {
    width: 45%;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.helptext {
    color: red;
}

.footer {
    padding-top: 100px;
    height: 100px;
}

.remindText {
    text-align: center;
    color: rgb(9, 32, 231);
}